.container {
  width: var(--width-container-desktop-large);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 1480px) {
    width: var(--width-container-desktop);
  }

  @media (max-width: 1200px) {
    width: var(--width-container-desktop-small);
  }

  @media (max-width: 1080px) {
    width: 800px;
  }

  @media (max-width: 860px) {
    width: var(--width-container-tablet);
  }

  @media (max-width: 720px) {
    width: var(--width-container-mobile);
  }
}
