.allKeyForm {
  width: var(--width-container-desktop-large);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1480px) {
    width: var(--width-container-desktop);
  }

  @media (max-width: 1200px) {
    width: var(--width-container-desktop-small);
  }

  @media (max-width: 1080px) {
    width: 800px;
  }

  @media (max-width: 860px) {
    width: var(--width-container-tablet);
  }

  @media (max-width: 720px) {
    width: var(--width-container-mobile);
    flex-direction: column;
  }
}

.inputKeyForm {
  width: 100%;
  background: none;
  border: 2px solid var(--color-brand);
  border-right: none;
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 16px;
  color: var(--color-brand);

  &:focus {
    outline: 0;
  }
}

.buttonKeyForm {
  background: var(--color-brand);
  border-radius: 50px;
  border: 2px solid var(--color-brand);
  padding: 10px 40px;
  color: #FFFFFF;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;

  @media (max-width: 720px) {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}